@font-face {
  font-family: 'Dongle';
  src: url('fonts/Dongle-Regular.ttf'); 
}

body {
  margin: 0;
  font-family: 'Bubbly', sans-serif;           
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9381FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
