@font-face {
  font-family: 'Dongle';
  src: url('fonts/Dongle-Regular.ttf'); 
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf'); 
}

@font-face {
  font-family: 'Code';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Thin.ttf'); 
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.ttf);
}

@font-face {
  font-family: Simply Glamorous;
  src: url(fonts/Simply-Glamorous.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Roboto';           
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9381FF;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
