@font-face {
  font-family: 'Dongle';
  src: url('fonts/Dongle-Regular.ttf');
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf');
}

@font-face {
  font-family: 'Code';
  src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Thin.ttf');
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.ttf);
}

@font-face {
  font-family: Playfair Display;
  src: url(fonts/FiraSansCondensed-Regular.ttf);
}

@font-face {
  font-family: Simply Glamorous;
  src: url(fonts/Simply-Glamorous.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

:root {
  --primary--color: white;
  --secondary--color: black;
  --dark--text: black;
  --light--text: white;
  cursor: none;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary--color);
  overflow-x: hidden;
}

.app-cursor {
  z-index: 1000;
  width: 20px;
  height: 20px;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  visibility: hidden;
}

/* .falling-image {
  z-index: 1000;
  width: 20px;
  height: 20px;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: absolute;
} */

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
